doctype html5
html
	head
		block head
			title= title
			meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel="stylesheet" type="text/css" href="/stylesheets/one-page-wonder.css")
			link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css")
	body
		block content
		block scripts