extends head

block scripts
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/javascripts/index.js')

block content
	header.header
		.headline
			.container
				h1= title
				hr.featurette-divider
	.container
		if err
			.message
				.message-box.message-err= err
		else
			.message
		.featurette
			.row
				.col-lg-12
					.col-lg-4.left-half
						.left-form
							h2 Select an existing movie
							.form-group
								select#select-movie-list.form-control
							.select-action
								input#btn-visualize.btn.btn-default(type="button" name="visualize" value="Analyze")
								input#btn-delete.btn.btn-default(type="button" name="Delete" value="Delete")
					.col-lg-8.right-half
						.right-form
							#or OR
							h2 Load a new movie data and analyze
							.row
								.col-lg-4.right-form-left-field-group
									.form-group
										input.search-movie.form-control(type="search" name="movie-search" placeholder="Enter Movie Title")
										a(href="http://www.the-numbers.com/daily-box-office-chart" target="_blank") See available movies
								.col-lg-8.right-form-right-field-group
									.form-group
										input.search-twitter.form-control(type="search" name="twitter-search" placeholder="Optional: Additional Twitter Query Parameters")
										a(href="https://www.ng.bluemix.net/docs/services/Twitter/index.html#query_lang" target="_blank") See query language manual
							.search-action
								input#btn-insert-replace.btn.btn-default(type="submit" name="Replace" value="Insert/Replace")
								input#btn-retrieve.btn.btn-default(type="submit" name="Retrieve" value="Retrieve")
		hr.featurette-divider
		p.lead This report analyzes the actual box office success of the movie (available online from 
			a(href="http://www.the-numbers.com/daily-box-office-chart") www.the-numbers.com/daily-box-office-chart
			| ) and how it correlates with the volume of tweets in Twitter. By breaking down the tweets geographically it is possible to understand the relative local tweet volume trend per US state and identify those states that require special marketing attention to support box office success of the movie.
		br
		p.lead The entire analysis and creation of this report has been done in Bluemix. The following Bluemix elements have been used:
		ol
			li IBM Insights for Twitter
			li IBM dashDB
			li RStudio (via dashDB service)
			li Node.JS runtime
		hr.featurette-divider
		footer
			.row
				.col-lg-12
					p Copyright &copy; IBM 2015
		.modal