extends head

append head
	link(rel='stylesheet', href='/stylesheets/select2.css')
block scripts
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/javascripts/bootstrap-select.js')
	script(src='/javascripts/index.js')

block content
	header.header
		.headline
			.container
				h1= title
				hr.featurette-divider
	.container
		if err
			.message
				.message-box.message-err= err
		else
			.message
		.featurette
			#movieform
				#leftform
					h1 Select a movie from the list
					select#select-movie-list.form-control
					.select-action
						input#btn-visualize.btn.btn-default(type="button" name="visualize" value="Analyze")
						input#btn-delete.btn.btn-default(type="button" name="Delete" value="Delete")
				#rightform
					#or OR
					h1 Load a movie data
					input#search-field.form-control(type="search" name="search" placeholder="-b Movie title -t Twitter query")
					.search-action
						input#btn-insert-replace.btn.btn-default(type="submit" name="Replace" value="Insert/Replace")
						input#btn-load.btn.btn-default(type="submit" name="Retrieve" value="Retrieve")
		hr.featurette-divider
		p.lead This report analyzes the actual box office success of the movie "American Sniper" (available online from 
			a(href="http://www.the-numbers.com/daily-box-office-chart") www.the-numbers.com/daily-box-office-chart
			| ) and how it correlates with the volume of tweets in Twitter. By breaking down the tweets geographically it is possible to understand the relative local tweet volume trend per US state and identify those states that require special marketing attention to support box office success of the movie.
		br
		p.lead The entire analysis and creation of this report has been done in Bluemix. The following Bluemix elements have been used:
		ol
			li IBM Insights for Twitter (BETA)
			li IBM dashDB (including a  prototype extension to load Twitter data)
			li RStudio (via dashDB service)
			li Node.JS runtime
		hr.featurette-divider
		footer
			.row
				.col-lg-12
					p Copyright &copy; IBM 2015